<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>course details</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="C">CID</label>
            <input type="text" name="CUR" id="C"><br>
            <label for="N">NAME</label>
            <input type="text" name="NA" id="N"><br>
            <label for="T">TEACHERNAME</label>
            <input type="text" name="TN" id="T"><br>

            <input type="submit">

        </form>
    </center>
</body>
</html>